/*
    Author: Heather
    Last modified: 03/03/20
    Last modified by: Sam Lohbeck 
*/

footer{
background-color: #517201;
width: 100%;
margin-top: 12px;
text-align: center;
color: white;
height: 169px;
display: flex;
flex-wrap: wrap;
font-family: 'Forte';
}
.col_1 {
    float: left;
    width: 20%;
}
.col_2 {
    width: 50%;
    text-align: left;
}
.col_3 {
    width: 30%;
}
footer div img {
    width: 30%;
    height: auto;
}
